:root {
    --darkGreen: #0A2100;
    --lightGreen: #83A603;
    --lightBrown: #BFB093;
    --lightOrange: #f27405;
    --darkOrange: #BF4904;
    --black: #000000;
}

body {
  font-family: 'Russo One', 'Verdana';
  color: var(--darkGreen);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}