/******************************************** 
       REFERENTE AO COMPONENT: COPYRIGHT
*********************************************/
.copyright{
    background-color: var(--darkGreen);
    text-align: center;
    color: white;
    font-weight: 100;
    z-index: 10;
}
